﻿@{
    ViewBag.Title = "Добро пожаловать в SignalR чат";
}

<h1 class="hidden-xs">SignalR чат</h1>
<br />

<div class="container">
    <div id="loginBlock">
        <input id="txtUserName" class="form-control" type="text" placeholder="Введите логин" />
        <input id="btnLogin" type="button" class="btn btn-primary btn-lg" value="Войти" style="margin-top: 10px;" />
    </div>
    <div id="chatBody" style="display: none;">
        <div id="header"></div>
        <div class="row">
            <div class="col-md-8">
                <div id="inputForm" class="row">
                    <div class="col-md-10 col-xs-8">
                        <input type="text" id="message" style="max-width: none;" class="form-control" />
                    </div>
                    <div class="col-xs-2">
                        <input type="button" id="sendmessage" value="Отправить" class="btn btn-primary" />
                    </div>
                </div>
                <table id="chatroom" class="table table-striped" style="margin-top: 10px;">
                    <tbody></tbody>
                </table>
            </div>

            <div id="chatusers" class="col-md-4 alert alert-warning">
                <p><b>Все пользователи</b></p>
                <ul id="chatuserslist"></ul>
            </div>
        </div>
    </div>
    <input id="hdId" type="hidden" />
    <input id="username" type="hidden" />
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/chat.js")
}
